/* Styles go here */

.todoListHeading {
  font-family:helvetica;
  font-weight:lighter;
  text-align:center;
  font-size:4vw;
}

/* TO DO BOX */
#todoBox {
  border:1px solid lightgrey;
  width:50vw;
  padding: 0 4vw 3vw 4vw;
}

#todoBox li {
  font-family:helvetica;
  font-size:2vw;
  padding:2vw 0 1vw 3vw;
  font-weight:lighter;
  list-style: none;
  border-bottom: 1px solid lightpink;
  display: flex;
  justify-content: space-between;
}

#todoBox li label {
/*  position: relative;
  right: 25vh;*/
}

#todoBoxContainer {
  display: flex;
  justify-content: center;
  margin-top: -2.5vh;
}

.todoCard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addTodoBar {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#addTodoText {
  width: 50vw;
  height: 12vh;
  font-size: 2vw;
  font-weight:lighter;
  padding-left:2vw;
}

/* ADD A TODO INPUT  */
::-webkit-input-placeholder {
   color:lightgrey;
   font-size:2vw
   font-weight:lighter;
   padding-left:2vw;
}

.toggleAddBar {
  display: flex;

}



/* AMOUNT OF TODOS TODAY */
#todosToday {
  font-family:helvetica;
  font-size:1.5vw;
  text-align:center;
  font-weight:lighter;
}

/* PLEASE INPUT A VALUE */
#noValue {
  font-family:helvetica;
  font-weight:bold;
  text-align: center;
}


/* REMOVES BLUE BORDER FROM ADD TODO BAR */
input {
  outline:none;
}


/* DELETE BUTTON */
.deleteButton {
  font-size: 2vw!important;
  border-color: white!important;
  color: peachpuff!important;
}

/* TOGGLE */
.far {
  font-size: 3vw;
  color:purple;
}

.fas {
  font-size: 3vw;
  color:purple;
}

.toggle {
  color:grey;
}



